<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style%>
    </head>
    <body>
        <%- include('_header'); -%>
        
        <!-- now here it is where we are going to define the part that will be changed afterwards -->
        <%- body -%>

        <%- include('_footer'); -%>
        <%- script%>
    </body>
</html>