<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style%>
    </head>
    <body>
        <%- include('_header'); -%>
        
        <main id="layout-main">
            <%- body -%>
        </main>
        <!-- now here it is where we are going to define the part that will be changed afterwards -->

        <%- include('_footer'); -%>
        <%- script%>
    </body>
</html>